
*{
	margin:0px;
	padding:0px;
}

p#texto{
	font-family: "Times New Roman", Times, serif;
font-size: 20px;
letter-spacing: 6px;
word-spacing: 6px;
color: #FFFFFF;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: uppercase;
}

p#texto2{
	text-align: center;
	font-family: "Times New Roman", Times, serif;
font-size: 20px;
letter-spacing: 6px;
word-spacing: 6px;
color: #0CFF00;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: uppercase;
}

h1{
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
font-size: 40px;
letter-spacing: 6px;
word-spacing: 6px;
color: #42FF22;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: uppercase;
	position:center;
}

button#upfile{
	position:50%;
	margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
	padding:10px;
	background-color: #2499e3;
	-webkit-border-radius:5px;
	-webkit-box-shadow:0px 3px 0px #1a71a9;
}